* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3e5250;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form__element {
    margin: 25px;
}

.form__content input{
    height: 25px;
    border-radius: 7px;
    border: none;
    outline: none;
}

#show {
    margin-left: 10px;
} 

input::placeholder {
    text-align: center;
}

.form__content {
    background: linear-gradient(45deg, #f1f374, #04c02d, #f1f374);
    height: 50vh;
    padding: 25px;
    border-radius: 35px;
    transition: .5s;
}

.form__content:hover {
    background: linear-gradient(45deg, #fbff00, #5ce079 , #fbff00);
    box-shadow: 12px 12px 55px rgba(156, 255, 125, 0.5);

}

.submit {
    margin-top: 10px;
}

.submit button {
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #f3f3f8;
    box-shadow: 5px 5px 5px #fbff00;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.button__container {
    margin-left: 10%;
    height: 100px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
  .button__container:hover {
    transform: translate(50px, 50px); /* Adjust the values as needed */
  }
  